.Contact {
  background-color: rgb(73, 72, 72);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Contained {
  background-color: rgb(73, 72, 72);
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 90px;
  width: 100vw;
  height: 70vh;
  position: relative;
  top: 200px;
}
.Contact h1 {
  position: relative;
  bottom: 20vh;
  font-family: sans-serif;
  color: white;
  font-size: 70px;
  background-color: rgb(73, 72, 72);
}
.Contact h2 {
  position: relative;
  bottom: 19vh;
  color: white;
  font-style: italic;
  background-color: rgb(73, 72, 72);
}
.icons{
  background-color: rgb(73, 72, 72);

}
.icons button a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(73, 72, 72);
}
.icons button {
  border: none;
  margin: 10px;
  position: relative;
  bottom: 17vh;
  background-color: rgb(73, 72, 72);
  transition: transform 0.3s ease;
}
@media (max-width: 768px) and (max-height: 900px) {
  .Contact {
    width: 100vw;
    height: 100vh;
    justify-content: flex-start;
    background-color: rgb(73, 72, 72);
  }
  .contained {
    background-color: rgb(73, 72, 72);
    text-align: center;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

  }
  .Contact h1 {
    font-size: 40px;
    text-align: center;
    background-color: rgb(73, 72, 72);
    display: flex;
    align-items: center;
  }
  .Contact h2 {
    font-size: 24px;
    text-align: center;
    background-color: rgb(73, 72, 72);
    display: flex;
    align-items: center;
  }
  .icons button a {
    width: 100px;
    height: 40px;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: rgb(73, 72, 72);
  }
.icons {
    background-color: rgb(73, 72, 72);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .icons button {
    border: none;
    background-color: rgb(73, 72, 72);
  }
}
.icons button:hover {
  transform: translateY(5px);
}
